<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />
  <uses-feature
    android:name="android.software.leanback"
    android:required="true" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:usesCleartextTraffic="true"
    android:theme="@style/Theme.SampleAndroidTV">
    <activity
      android:launchMode="singleInstance"
      android:name=".activity.MainActivity"
      android:banner="@drawable/app_icon_your_company"
      android:exported="true"
      android:icon="@drawable/app_icon_your_company"
      android:label="@string/app_name"
      android:logo="@drawable/app_icon_your_company"
      android:screenOrientation="landscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.DetailsActivity"
      android:exported="false" />
    <activity
      android:name=".activity.PlaybackActivity"
      android:exported="false" />
    <activity
      android:name=".activity.BrowseErrorActivity"
      android:exported="false" />

    <meta-data
        android:name="BITMOVIN_PLAYER_LICENSE_KEY"
        android:value="22a5430e-a8cc-46d3-98b1-e64808844d87" />
  </application>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="http" />
    </intent>
  </queries>
</manifest>